.leaflet-container
{
  background-color: white;
}

#map
{
  height: 400px;
  width: 100%;
}

.popup-container{
  text-align: center;
}

.popup-container > h2{
  font-size: 115%;
}

/* .leaflet-popup-content-wrapper{
 /* border-radius: 5px; 
} */

.leaflet-container a.leaflet-popup-close-button {
  width: 20px;
  height: 20px;
  margin: 3px;
}

.popup-header:after{
  content: "";
  text-align: left;
  display: block;
  margin: 0 auto;
  width: 80%;
  padding-top: 10px;
  border-bottom: 1px  solid #eee;
}

.popup-text{ 
  text-align:left;
}

.popup-text >p{
  margin: 2%;
}

.popup-button {
  width: auto !important;
}

