@media (max-width: 767px)
{

  .info
  {
    padding: 0;
  }

  .tab-links > li
  {
    padding: 5px;
    height: 40px;
  }

/*  .ui-slider .ui-slider-handle
  {
    height: 50px;
    width: 20px
  }*/

  body
  {
    background: none !important;;
  }
}

a
{
  word-wrap: break-word;
}

body
{
  position: absolute;
  width: 100%;
  font-family: Verdana, Geneva, sans-serif;
  /*font-family: Palatino Linotype, Book Antiqua, Palatino, serif;*/
  font-size: 12px;
  background: url("../../data/img/earth.svg") no-repeat center center;
  background-size:cover;
  background-attachment: fixed;
  display: inline-block;
  overflow-y: scroll;
}

/* -------------START------------- */
/* navbar left side for user guide */
/* ------------------------------- */

.fixed {
  position: fixed;
}
.user-guide-toc {
  margin-top: 20px;
  margin-bottom: 20px;
}
#user-guide .nav-heading {
  border-bottom: 1px solid #babdb6;
  padding-bottom: 3px;
  font-size: 14px;
}
#user-guide .img-left {
  padding: 0px 15px 15px 0px;
}
#user-guide .img-center {
  padding: 0px 15px 15px 0px;
  margin: 0 auto;
}
#user-guide h5 {
  border-bottom: 1px solid #babdb6;
  padding-bottom: 3px;
  padding-top: 20px;
}
#user-guide h6 {
  border-bottom: 1px dotted #babdb6;
  padding-bottom: 3px;
  padding-top: 10px;
}
/* all links */
.user-guide-toc .nav>li>a {
  color: #333;
  border-left: 2px solid transparent;
  padding: 4px 20px;
  font-size: 13px;
  font-weight: 400;
}
/* nested links */
.user-guide-toc .nav .nav>li>a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 12px;
}
/* active & hover links */
.user-guide-toc .nav>.active>a, 
.user-guide-toc .nav>li>a:hover, 
.user-guide-toc .nav>li>a:focus {
  color: #337ab7;;                 
  text-decoration: none;          
  background-color: transparent;  
  border-left-color: #337ab7;; 
}
/* all active links */
.user-guide-toc .nav>.active>a, 
.user-guide-toc .nav>.active:hover>a,
.user-guide-toc .nav>.active:focus>a {
  font-weight: 700;
}
/* nested active links */
.user-guide-toc .nav .nav>.active>a, 
.user-guide-toc .nav .nav>.active:hover>a,
.user-guide-toc .nav .nav>.active:focus>a {
  font-weight: 500;
}
/* hide inactive nested list */
.user-guide-toc .nav ul.nav {
  display: none;           
}
/* show active nested list */
.user-guide-toc .nav>.active>ul.nav {
  display: block;           
}

/* -------------END--------------- */
/* navbar left side for user guide */
/* ------------------------------- */


h2
{
  display: inline;
  font-size: 180%;
}

h2 > a
{
  color: white;
}

h2 > a:hover
{
  color: white;
  text-decoration: none;
}

h3 {
    margin-top: 0px;
}

h4
{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  /*margin-left: 10px;*/
  padding-top: 10px;
  padding-bottom: 10px;
}

label
{
  font-weight: normal !important;
}

select
{
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
}
select:disabled{
  opacity: 0.6;
}

.background
{
  background-image: url("../../data/img/earth.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.block
{
  text-align: justify;
  display: inline-block;
  overflow-wrap: break-word;
  word-wrap: break-word;
}


/* BUTTONS */

button,
button:active
{
  width: 4.5em;
  height: 2.5em;
  margin: 5px;
  display: inline-block;
  overflow: visible;

  font-size: 1.0em;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  text-transform: none;

  border: 1px solid transparent;
  border-radius: 2px;
  border-color: rgb(128,128,128);

  color: rgb(255,255,255);
  background-image: none;
  background-color: #868686;

  cursor: pointer;

  touch-action: manipulation;
  -ms-touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: button;
}

button:hover:enabled
{
  color: rgb(255,255,255);
  background-color: #337ab7;
  border-color: #2e6da4;
  opacity: 0.75;
}

button:disabled{
  color: #d9d9d9;
  border-color: #a6a6a6;
  background-color: #a6a6a6;
}

.box
{
  position: relative;
  width: 100%;
  padding: 15px;
  background-color:white;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid #babdb6;
}

/*.box:hover
{
  box-shadow: 0px 0px 6px #babdb6;
  transition: 0.2s;
}*/

.box-quiet
{
  position: relative;
  width: 100%;
  margin: 0;
  border: 0;
  padding: 0;
  background: none;
  font-size: 1.0em;
}

.col-lg
{
  padding-bottom: 30px;
}

.container-fluid
{
  margin-top: -20px;
  margin-right: auto;
  margin-left: auto;
}

.headline
{
  position: relative;
  padding-top: 10px;
  padding-bottom: 5px;
  border-bottom: 1px white solid;
}

.img
{
  padding: 10px;
  width: 100%;
  background-color: white;
}

.img#logo
{
  max-width: 150px;
  float: right;
  margin: -20px;
  margin-right: 0px;
  border: none;
  background-color: transparent;
}

.info
{
  padding: 30px;
}

.jumbotron
{
  position: relative;
  width: 100%;
  color: white;
  top: 40px;
  /* 	margin-top: 20px; */
  margin-bottom: 44px;
  padding-top: 1px;
  padding-bottom: 5px;
  background-image: url("../../data/img/bg_header.png"),
  linear-gradient(to bottom, #407CC9, #043d7b);
  box-shadow: 0px 3px 6px #888a85;
}
.linewrapper
{
  margin: 10px;
}

.normalText
{
  font-weight: normal !important;
}

.row
{
  margin-top:20px;
  margin-bottom: 20px
}

.secHeadline
{
  float: right;
  padding-top: 6px;
  font-size: 110% !important;
  font-weight: 500 !important;
  color: white;
}

.tab
{
  display: none;
}

.tab-links:after
{
  display: block;
  clear: both;
  content: '';
}

.tab-links a
{
  display: inline-block;
  box-sizing: border-box;
  color: white;
  transition: all linear 0.15s;
  margin-top: -20px;
}

.tab-links > li > a:hover
{
  text-decoration: none;
  background-color: transparent;
  box-shadow: inset 0px 0px 0px 1px white;
  transition: all linear 0s;
}

.tab.active
{
  display: block;
  transition: all linear 0.6s;
}
.unselectable
{
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none;
  user-select:none;
  -o-user-select:none;
}

.well
{
  background-color: #ffffff;
  font-size: 0.8em;
}


#metadata
{
  position: absolute;
  right: 0px;
  top: -10px;
  display: inline-block;
}

.nodata
{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -80px;
}

#cookieScreen {
  position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99998;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.75);
}
#cookieForm {
    background-color: #ddd; 
    text-align: justify;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    max-width: 450px;
    padding: 15px 30px;
    border-radius: 3px;
}

#cookieForm .accept, 
#cookieForm .accept:active
{
  width: auto;
  color: #fff;
  background-color: #2a9116;
}

#cookieForm .decline, 
#cookieForm .decline:active
{
  width: auto;
  color: #fff;
  background-color: #868686;
}

#cookieForm button:hover
{
  background-color: #337ab7;
}

#newVersionHint{
  position: fixed; 
  top: auto !important; 
  bottom:0px; 
  padding:10px; 
  width:100%;
  color:white; 
  background-image: url("../../data/img/bg_header.png"), 
  linear-gradient(to bottom, #407CC9, #043d7b); 
  text-align: center;
  z-index:999;
}
#newVersionHint button {

  color: #fff;
  background-color: #337ab7;
  border-color: transparent;

}
#newVersionHint button:hover {
  color:white;
  border-color: white;
}