@media (max-width: 767px) {

	.info {
		padding: 0;
	}

    .tab-links > li {
    	padding: 5px;
    	height: 40px;
    }

    .ui-slider .ui-slider-handle {
    	height: 50px;
        width: 20px
    }

    body {
    	background: none !important;;
    }
}

a {
	word-wrap: break-word;
}

body {
	position: absolute;
	width: 100%;
	font-family: Verdana, Geneva, sans-serif;
	/*font-family: Palatino Linotype, Book Antiqua, Palatino, serif;*/
	font-size: 1.0em;
	background: url("../img/earth.svg") no-repeat center center;
	background-size:cover;
    background-attachment: fixed;
	display: inline-block;
    overflow-y: scroll;
}

h2 {
	display: inline;
	font-size: 180%;
}

h2 > a {
	color: white;
}

h2 > a:hover {
	color: white;
	text-decoration: none;
}

h4 {
	margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

input {
	margin-top: 5px;
	margin-bottom: 5px;
}

label {
    font-weight: normal !important;
}

select {
	display: inline-block;
    margin-bottom: 10px;
}
.arid {
	color: #edd400;
	font-weight: bold;
}

.background {
	background-image: url("img/earth.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.block {
	text-align: justify;
	display: inline-block;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

.btn {
	margin: 5px;
    border-radius: 3px;
    font-size: 0.8em;
}

.btn-primary {
    border-radius: 4px;
	color: white;
	background-color: rgb(128,128,128);
	border-color: rgb(128,128,128);
}

.btn-small {
	padding: 3px;
}

.box {
	position: relative;
	width: 100%;
	padding: 15px;
	background-color:white;
	margin-top: 15px;
	margin-bottom: 30px;
  border: 1px solid #babdb6;
  font-size: 1.2em;
}

.box:hover {
	box-shadow: 0px 0px 6px #babdb6;
  transition: 0.2s;
}

.box-quiet
{
	position: relative;
	width: 100%;
	margin: 0;
	border: 0;
	padding: 0;
	background: none;
  font-size: 1.0em;
}

.col-lg {
	padding-bottom: 30px;
}

.container-fluid {
	margin-top: -20px;
    margin-right: auto;
    margin-left: auto;
}

.headline {
	position: relative;
	padding-top: 10px;
	padding-bottom: 5px;
	border-bottom: 1px white solid;
}

.humid {
	color: rgb(89,131,213);
	font-weight: bold;
}

.img {
    padding: 10px;
    width: 100%;
    background-color: white;
}

.img#logo {
	max-width: 150px;
	float: right;
	margin: -20px;
	margin-right: 0px;
	border: none;
	background-color: transparent;
}

.info {
	padding: 30px;
}

.jumbotron {
	position: relative;
	width: 100%;
	color: white;
	top: 40px;
/* 	margin-top: 20px; */
	margin-bottom: 44px;
	padding-top: 1px;
	padding-bottom: 5px;
	background-image: url("https://www.transparenttextures.com/patterns/az-subtle.png"),
							linear-gradient(to bottom, #407CC9, #043d7b);
	box-shadow: 0px 3px 6px #888a85;
}
.linewrapper {
	margin: 10px;
}

.normalText {
	font-weight: normal !important;
}

.popover {
	width: 300px;
}

.row {
	margin-top:20px;
	margin-bottom: 20px
}

.secHeadline {
	float: right;
	padding-top: 6px;
	font-size: 110% !important;
	font-weight: 500 !important;
	color: white;
}

.svg-container {
/*     display: inline-block; */
/*     position: relative; */
    width: 100%;
    vertical-align: top;
/*     overflow: hidden; */
}

#climate-chart {
	margin-bottom: 25px;
	position: relative;
	overflow: auto;
}

.svg-content-responsive {
    display: inline-block;
    float: left;
    position: absolute;
    top: 10px;
    left: 0;
}

.tab {
    display: none;
}

.tab-links:after {
    display: block;
    clear: both;
    content: '';
}

.tab-links a {
	display: inline-block;
    box-sizing: border-box;
    color: white;
	transition: all linear 0.15s;
	margin-top: -20px;
}

.tab-links > li > a:hover {
    text-decoration: none;
    background-color: transparent;
    box-shadow: inset 0px 0px 0px 1px white;
	transition: all linear 0s;
}

.tab.active {
    display: block;
	transition: all linear 0.6s;
}
.unselectable {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	user-select:none;
	-o-user-select:none;
}

.veryhumid {
	color: rgb(4,61,183);
	font-weight: bold;
}

.well {
	background-color: #ffffff;
	font-size: 0.8em;
}

#clone, canvas {
	visibility: hidden;
	width: 0px;
	height: 0px;
}

#datasetInfo {
	display: none;
	text-align: justify;
}

#loader {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 220px;
	height: 100px;
	margin-top: -50px;
	margin-left: -110px;
	background-color: white;
    z-index: 1000;
    visibility: hidden;
    border: 1px solid gray;
    border-radius: 10px;
}

#map {
	height: 400px;
	width: 100%;
}

#metadata {
    position: absolute;
    right: 0px;
    top: -10px;
    display: inline-block;
}

#min, #max, .period {
    display: inline-block;
}

#nodata {
	position: absolute;
	top: 50%;
	left: 30%;
}

#slider {
    margin-bottom: 20px;
    margin-left: 5%;
    width: 90%;
}

/* save buttons for chart and plots */
.save-button-area
{
	position: absolute;
	top: 10px;
	right: 20px;
	padding: 4px;
}


/* PLOTS *
 *
 * plot-wrapper
  * |-> plots-container   // main svg canvas, contains plots, will be printed
  * |-> plot-options			 // buttons for changing / saving plots, will not be printed
  *     |-> plot-scale-switch   // automatic <-> fixed scale
  *     |-> plot-save-buttons   // save as svg and png
  *
 */

/* level 0 */
#plot-wrapper
{
  width: 100%;
  height: 520px;
}

/* plot options = scale switch and save buttons */
#plot-options
{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
}

#plot-scale-switch
{
  position: absolute;
  top: 3px;
  left: 16px;
  width: 150px;
}

/* scale switch */
#plot-switch-title
{
  width: 100%;
  text-align: center;
  font-size: 1.1em;
  margin-bottom: 0.2em;
}

#plot-switch-options
{
  line-height: 2.5em !important;
  background-color: rgb(128,128,128) !important;
  border-radius: 4px;
}

.plot-switch-option
{
  color: white !important;
  text-shadow: none !important;
  font-weight: normal !important;
}

#plot-switch-button
{
  background-color: rgb(89,131,213) !important;
}


#save-button-area
{
  float: right;
  margin-right: 10px;
}

#plots-svg-container
{
	background: #ffffff;
	fill: #ffffff;
}
