.arid
{
  color: rgb(237,212,0);
  font-weight: bold;
}

.humid
{
  color: rgb(89,131,213);
  font-weight: bold;
}

.veryhumid
{
  color: rgb(4,61,183);
  font-weight: bold;
}

.bar
{
  opacity: 0.9;
  fill: rgb(4,61,183);
}

/* PRECIPITATION SWITCH */

#cc-graph-options {
    position: absolute;
    /*top: 21px;*/
    top: 7%;
    left: 10px;
    width: 60px;
    height: 30px;  
    font-size:0px;    
    text-align: center;
    margin: 5px;
    background-color: #868686;
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.65); */
    /* border-radius: 2px; */
}

#cc-graph-options > a:hover {
 color: #fff;
}

#cc-graph-option-first {
    
    /* border-right: 1px solid #ccc;
    border-left: 1px solid #babdb6;
    border-top: 1px solid #babdb6;
    border-bottom: 1px solid #babdb6; */
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

#cc-graph-option-middle {
    border-right: 1px solid #ccc;
}

#cc-graph-option-last {
  /* border-right: 1px solid #babdb6;
  border-top: 1px solid #babdb6;
  border-bottom: 1px solid #babdb6; */
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

[id^="cc-graph-option-"] {
    width: 30px;
    display: inline-block;
    font-size:12px;
    vertical-align: middle;
    line-height: 2.5em !important;
    color: #FFF;
}
/* [id^="cc-graph-option-"]:hover {
    background-color: #337ab7;
    opacity: 0.75;
} */

.cc-graph-active {
  background-color: #337ab7;
  color: #FFF;
}
/* .cc-graph-active:hover {
  background-color: #337ab7;
  color: #FFF;
  opacity: 0.75;
} */

