#climate-chart
{
}

.arid
{
  color: rgb(237,212,0);
  font-weight: bold;
}

.humid
{
  color: rgb(89,131,213);
  font-weight: bold;
}

.veryhumid
{
  color: rgb(4,61,183);
  font-weight: bold;
}

.bar
{
  opacity: 0.9;
  fill: rgb(4,61,183);
}

/* PRECIPITATION SWITCH */

#cc-graph-options {
    position: absolute;
    /*top: 21px;*/
    top: 7%;
    left: 10px;
    width: 60px;
    height: 30px;  
    font-size:0px;    
    text-align: center;
    margin: 5px;
    
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.65);*/
    border-radius: 2px;
}

#cc-graph-option-first {
    
    border-right: 1px solid #ccc;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
}

#cc-graph-option-middle {
    border-right: 1px solid #ccc;
}

#cc-graph-option-last {
    
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

[id^="cc-graph-option-"] {
    width: 30px;
    display: inline-block;
    font-size:12px;
    vertical-align: middle;
    line-height: 2.5em !important;
}
[id^="cc-graph-option-"]:hover {
    background-color: #ddd;
}

.cc-graph-active {
    background-color: #aaa;
    color: #FFF;
}
.cc-graph-active:hover {
    background-color: #aaa;
    color: #FFF;
}