@media (max-width: 767px) {
    .container-fluid {
      padding-right: 0;
      padding-left: 0;
      margin-right:-10;
      margin-left: 0;
    }
}

@media (max-width: 992px) {
    .cl-lg {
      padding:0;
      margin:0;
    }

    body {
      padding:0;
    }
}

a {
	word-wrap: break-word;
}

body { 
	position: absolute;
	width: 100%;
	font-family: Verdana, Geneva, sans-serif;
	font-size: medium;
	background: red;
	background: -webkit-radial-gradient(circle, red, yellow, green); /* Safari */
    background: -o-radial-gradient(circle, red, yellow, green); /* Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(circle, red, yellow, green); /* Firefox 3.6 to 15 */
	background: radial-gradient(circle, red, yellow, green);
    overflow-y: scroll;
}

h2 {
	display: inline;
}

h4 {
	margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

label {
    font-weight: normal !important;
}

select {
	display: inline-block;
    margin-bottom: 10px;
}

.arid {
	color: #edd400;
	font-weight: bold;
}

.block { 
	text-align: justify;
	display: inline-block; 
}

.btn {
	margin: 5px;
    border-radius: 3px;
}

.btn-primary {
    border-radius: 4px;
	background-color: #043d7b;
	color: white;
    margin-top: 5px;
}

.btn-small {
	padding: 3px;
}

.box {
	position: relative;
	width: 100%;
	padding: 15px;
	margin-top: 15px;
	margin-bottom: 30px;
    border: 1px solid #babdb6;
}

.box:hover {
	box-shadow: 2px 2px 6px #babdb6;
  	transition: 0.2s;
}

.col-lg {
	padding-bottom: 30px;
}

.container-fluid {
	margin-top: -20px;
    margin-right: auto;
    margin-left: auto;
}

.headline {
	position: relative;
	padding-top: 10px;
	padding-bottom: 5px;
	border-bottom: 1px white solid;
}

.humid {
	color: rgb(89,131,213);
	font-weight: bold;
}

.img {
    padding: 10px;
    width: 100%;
    background-color: white;
}

.img#logo {
	max-width: 150px;
	float: right;
	margin: -20px;
	margin-right: 0px;
	border: none;
	background-color: transparent;
}

.info {
	padding: 30px;
}

.jumbotron {
	position: relative;
	width: 100%;
	color: white;
	top: 40px;
	margin-top: 20px;
	margin-bottom: 50px;
	padding-top: 20px;
	padding-bottom: 5px;
	background: linear-gradient(to bottom right, #407CC9, #043d7b);
}

.jumbotron:hover {
	box-shadow: 2px 2px 6px #888a85;
  	transition: 0.2s;
}

.linewrapper {
	margin: 10px;
}

.normalText {
	font-weight: normal !important;
}

.popover {
	width: 300px;
}

.secHeadline {
	float: right;
	padding-top: 10px;
	vertical-align: bottom;
	font-size: 17px !important;
	font-weight: 500 !important;
	color: white;
}

.row { 
	margin-top:20px; 
	margin-bottom: 20px
}

.tab {
    display: none;
}
 
.tab-links:after {
    display: block;
    clear: both;
    content: '';
}

.tab-links a {
	display: inline-block;  
    box-sizing: border-box;      
	transition: all linear 0.15s;
	color: white;
	margin-top: -20px;
}

.tab-links a:hover {
    text-decoration: none;
    background-color: none;
    box-shadow: inset 0px 0px 0px 1px white;
}

.tab.active {
    display: block;
}

.ui-slider {
    margin-bottom: 20px;
    width: 90%;
}

.veryhumid {
	color: rgb(4,61,183);
	font-weight: bold;
}

.well {
	background-color: #f2f4fd;
}

#clone, canvas {
	visibility: hidden;
	width: 0px;
	height: 0px;
}

#footer {
	position: absolute;
	height: 50px;	
}

#loader {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 220px;
	height: 100px;
	margin-top: -50px;
	margin-left: -110px;
	background-color: white;
    z-index: 1000;
    visibility: hidden;
    border: 1px solid gray;
    border-radius: 10px;
}

#map {
	height: 400px;
	width: 100%;
}

#metadata {
    position: absolute;
    right: 0px;
    top: -10px;
    display: inline-block;
}

#min, #max {
    width: 30px;
    text-align: center;
    margin-bottom: -20px;
}

#nodata {
	position: absolute;
	top: 50%;
	left: 30%;
}

#save {
	visibility: hidden;
}

#wrapper {
	position: relative;
	width: 100%;
    margin-bottom: 30px;
}