/*#settings-in-infobox
{
    position: relative; 
    width: 100%; 
}

.coordinates-label
{
    width: 90px;
    display: inline-block;
    text-align: left;
}

#coordinates-in-infobox{
    width: 50%;
    position: relative;
    display: inline-block;
    margin-right: -4px;
    position:relative;
    left:0%;
}*/

#lat, #lng
{
    width: 120px; 
}
#set-coordinates{
    margin-right: 20px;
}