#datasets
{
  margin: 0px;
  height:30px;
  width: 250px;
}
#datasets-info>div 
{
  margin-bottom: 20px;
}

.datasets-name
{ 
  font-weight: bold;
  border-bottom: 1px solid #babdb6; 
  padding-bottom: 3px;
}

.datasets-title
{
  font-size: 1em;
  font-variant-caps: small-caps;
}

.datasets-text
{
  font-size: 1em;
  text-align: justify;
}

.popover 
{
  max-width: 80%;
  font-family: inherit;
  font-size: inherit;
}
#dataset-tooltip 
{
  width:1.75em;
  line-height: 1.75em;
  margin: 5px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.tooltip-inactive
{ 
  background-color: #868686;
}
.tooltip-inactive:hover
{
  background-color: #337ab7;
  opacity: 0.75;
}

.tooltip-active 
{
  background-color: #f08888;
}
.tooltip-active:hover
{
  background-color: #f02222;
  opacity: 0.75;
}
