#datasets
{
  margin-bottom: 20px;
}

#dataset-name
{
  font-weight: normal;
  margin-bottom: 4px;
}

#dataset-info
{
	text-align: justify;
}

.datasets-title
{
  font-size: 1.1em;
  font-weight: bold;
}
